body {
  @include font-lato;

  color: $color-title;
}

.section-outer {
  padding: 0 20px;
}

.section-inner {
  max-width: 1180px;
  margin: 0 auto;
}

.description-item {
  &__icon {
    margin-bottom: 20px;
  }

  &__title {
    margin-bottom: 14px;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.2;
  }

  &__text {
    font-weight: 300;
    font-size: 16px;
    line-height: 1.7;
    color: $color-text;
  }
}

.btn-start {
  @include button;

  padding: 16px 20px;
}

.btn-main {
  @include button;

  border: none;
  padding: 17px 44px 16px;
}

.btn-secondary {
  @include button;

  border: 1px solid #979797;
  padding: 16px 43px 15px;
  background: transparent;
  color: $color-text;
  transition: $transition-fast;

  &:hover {
    background: transparent;
    border: 1px solid $color-accent;
    color: $color-accent;
  }
}

.btn-free {
  @include button;

  border: none;
  padding: 16px 43px 15px;
  background: none;
  background-color: $color-white;
  color: $color-text;

  &:hover {
    box-shadow: 1px 1px 5px 2px #fe985b;
    background: $color-white;
    color: $color-accent;
  }
}