body {
  @include font-lato;

  color: $color-title;
}

.section-inner {
  width: 1180px;
  margin: 0 auto;
}

.description-item {
  &__icon {
    margin-bottom: 20px;
  }

  &__title {
    margin-bottom: 14px;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.2;
  }

  &__text {
    font-weight: 300;
    font-size: 16px;
    line-height: 1.7;
    color: $color-text;
  }
}

.btn-start {
  @include button;

  padding: 16px 20px;
}

.btn-main {
  @include button;

  border: none;
  padding: 17px 44px 16px;
}

.btn-secondary {
  @include button;

  border: 1px solid #979797;
  padding: 16px 43px 15px;
  background: transparent;
  color: $color-text;

  &:hover {
    border: none;
    background: linear-gradient(to bottom, #fe985b, #fe4fa7);
    color: $color-white;
  }
}

.btn-free {
  @include button;

  border: none;
  padding: 16px 43px 15px;
  background: none;
  background-color: $color-white;
  color: $color-text;
}