// === minimal self-written CSS-reset settings ===
html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

ul,
ol {
  padding: 0;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

ul[class] {
  list-style: none;
}

img {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

button {
  border: none;
  background: none;
}

a {
  text-decoration: none;
  color: inherit;
}

a:focus,
input:focus,
button:focus {
  outline: #e4ff83 dotted medium;
}

address {
  font-style: normal;
}