// COLORS:
$color-white: #FFF;
$color-title: #414141;
$color-text: #6C6C6C;
$color-accent: #FE4FA7;
$color-bg-blue: #F6FAFD;
// END COLORS

// TRANSITION:
$transition-fast: .3s;
$transition-medium: .5s;
$transition-slow: .7s;
// END TRANSITION

// BORDER RADIUS
$border-radius: 4px;
// END BORDER RADIUS