// COLORS:
$color-white: #FFF;
$color-title: #414141;
$color-text: #6C6C6C;
$color-accent: #FE4FA7;
$color-bg-blue: #F6FAFD;
// END COLORS

// TRANSITION:
$transition-fast: .3s;
$transition-medium: .5s;
$transition-slow: .7s;
// END TRANSITION

// BORDER RADIUS
$border-radius: 4px;
// END BORDER RADIUS

// WHITE SPACE
$white-space: 120px;
$white-space-sm: 90px;
// END WHITE SPACE

// SCREEN SIZES
$screen-sm-min: 576px;
$screen-md-min: 768px;
$screen-lg-min: 992px;
$screen-xl-min: 1200px;

$screen-xs-max: 575px;
$screen-sm-max: 767px;
$screen-md-max: 991px;
$screen-lg-max: 1199px;
// END SCREEN SIZES