@import "reset";
@import "variables";
@import "mixins";
@import "global";

// ==-=-=-=-=-=-=-=-=-=-=-=-=-==
// === HEADER ===
.section-header {
  color: #fff;
  background: url("../images/bg-header.jpg") no-repeat 50% 50%;
  background-size: cover;
  position: relative;

  .section-inner {
    height: 100vh;
    position: relative;
    z-index: 10;
    display: flex;
    flex-direction: column;
  }

  &::before {
    content: "";
    position: absolute;
    z-index: 5;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(#142729, 0.47);
  }
}

.section-header-logo {
  font-weight: 700;
  font-size: 24px;
  line-height: 29px;
  flex-shrink: 1;
  padding-top: 35px;
}

.section-header-content {
  display: flex;
  align-items: center;
  flex-grow: 1;
}

.section-header-wrapper {
  margin: 0 auto;

  &__title,
  &__subtitle {
    text-align: center;
  }

  &__title {
    font-weight: 700;
    font-size: 55px;
    line-height: 60px;
    margin-bottom: 18px;
  }

  &__subtitle {
    @include font-montserrat;

    font-weight: 400;
    font-size: 18px;
    line-height: 32px;
    width: 67%;
    margin: 0 auto 43px;
  }

  &__form {
    display: flex;
  }

  &__form-input {
    flex: 1;
    padding-right: 40px;

    input {
      @include font-montserrat;

      margin: 0;
      padding: 17px 20px;
      font-weight: 400;
      font-size: 16px;
      line-height: 19px;
      border: none;
      background-color: rgba(255, 255, 255, 0.25);
      color: $color-white;
      outline: none;
      border-radius: $border-radius;
      width: 100%;

      &::placeholder {
        color: $color-white;
      }
    }
  }

  &__form-button {
    button {
      @include font-montserrat;

      margin: 0;
      padding: 16px 20px;
      font-weight: 400;
      font-size: 18px;
      line-height: 21px;
      color: $color-white;
      border: none;
      background: linear-gradient(to right, #fe985b, #fe4fa7);
      outline: none;
      border-radius: $border-radius;
      cursor: pointer;

      &:hover {
        background: linear-gradient(to left, #fe985b, #fe4fa7);
        color: $color-white;
      }
    }
  }
}

// === / HEADER ===
// === PROMO ===
.section-promo {
  padding: 120px 0;

  .section-promo-video {
    border-bottom: 1px solid #E2E2E2;
    padding-bottom: 112px;
    display: flex;

    // .section-promo-video__content,
    // .section-promo-video__video
    &__content,
    &__video {
      flex-basis: 50%;
    }

    // .section-promo-video__content
    &__content {
      padding-right: 96px;
      font-weight: 700;

      .title {
        margin-bottom: 58px;
        font-size: 32px;
        line-height: 1.4;
      }

      .description-item {
        margin-top: 30px;
      }
    }

    // .section-promo-video__video
    &__video {

      img {
        width: 100%;
        height: auto;
      }
    }
  }

  .section-promo-ideas {
    padding-top: 86px;
    display: flex;
    text-align: center;

    .description-item+.description-item {
      margin-left: 40px;
    }

    .description-item__icon img {
      display: inline-block;
    }
  }
}

// === / PROMO ===
// === FOUNDER ===
.section-founder {
  background-color: $color-bg-blue;

  .section-inner {
    padding-top: 34px;
    display: flex;
  }

  // .section-founder__img
  &__img {
    margin-right: 54px;
    padding-left: 103px;
    align-self: flex-end;
  }

  // .section-founder__content
  &__content {
    align-self: center;
    max-width: 542px;
    font-size: 24px;
    line-height: 1.2;
  }

  // .section-founder__content-text
  &__content-text {
    @include font-montserrat;

    margin-bottom: 30px;
    line-height: 1.7;
  }

  // .section-founder__content-name
  &__content-name {
    font-weight: 700;
  }

  // .section-founder__content-post
  &__content-post {
    font-size: 20px;
  }
}

// === / FOUNDER ===
// === PLANS ===
.section-plans {
  padding: 120px 0;

  // .section-plans__title,
  // .section-plans__subtitle
  &__title,
  &__subtitle {
    margin: 0 auto;
    text-align: center;
    max-width: 548px;
  }

  // .section-plans__title
  &__title {
    margin-bottom: 18px;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.4;
  }

  // .section-plans__subtitle
  &__subtitle {
    margin-bottom: 96px;
  }

  // .section-plans__subtitle
  // .section-plans__item-description
  &__subtitle,
  &__item-description {
    font-weight: 300;
    font-size: 16px;
    line-height: 1.8;
    color: $color-text;
  }

  // .section-plans__list
  &__list {
    display: flex;
    justify-content: center;
  }

  // .section-plans__item
  &__item {
    padding: 52px 44px;
    text-align: center;
    flex-basis: 370px;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.2;
  }

  &__item.active {
    background-color: $color-bg-blue;
  }

  // .section-plans__item-name
  &__item-name {
    margin-bottom: 28px;
    text-transform: uppercase;
  }

  // .section-plans__item-price
  &__item-price {
    margin-bottom: 25px;

    .prefix {
      font-size: 72px;
      line-height: 1.2;
      color: $color-accent;
    }
  }

  // .section-plans__item-description
  &__item-description {
    margin-bottom: 36px;
  }

  // .section-plans__item-button
  &__item-button {
    @include font-montserrat;
    outline: none;
    margin: 0 auto;
    border: 1px solid #979797;
    border-radius: $border-radius;
    padding: 16px 43px 15px;
    max-width: 192px;
    background: transparent;
    font-weight: 400;
    font-size: 18px;
    line-height: 1.2;
    color: $color-text;
    cursor: pointer;

    &:hover {
      background: linear-gradient(to bottom, #fe985b, #fe4fa7);
      color: $color-white;
    }
  }

  &__item.active .section-plans__item-button {
    border: none;
    padding: 17px 44px 16px;
    background: linear-gradient(to right, #fe985b, #fe4fa7);
    color: $color-white;

    &:hover {
      background: linear-gradient(to left, #fe985b, #fe4fa7);
      color: $color-white;
    }
  }
}

// === / PLANS ===
// === FREE ===

.section-free {
  padding: 120px 0;
  text-align: center;
  background: linear-gradient(to right, #fe985b, #fe4fa7);
  color: $color-white;

  // .section-free__title
  &__title {
    margin-bottom: 28px;
    font-weight: 700;
    font-size: 55px;
    line-height: 1;
  }

  // .section-free__description
  &__description {
    @include font-montserrat;

    margin: 0 auto 60px;
    font-size: 20px;
    line-height: 1.5;
    width: 50%;
  }
}

// === / FREE ===
// === FOOTER ===
.section-footer {
  padding: 90px 0;
  text-align: center;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.4;

  // .section-footer__logo
  &__logo {
    margin-bottom: 54px;
    font-size: 24px;
    line-height: 1.2;
  }

  // .section-footer__nav-list
  &__nav-list {
    display: flex;
    justify-content: center;
    text-transform: uppercase;
  }

  // .section-footer__nav-item
  &__nav-item {
    margin-bottom: 56px;
    transition: $transition-fast;

    &:hover {
      color: $color-accent;
    }
  }

  // .section-footer__nav-item+.section-footer__nav-item
  &__nav-item+&__nav-item {
    margin-left: 80px;
  }

  // .section-footer__copyright
  &__copyright {
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 400;
  }

  // .section-footer__copyright-url
  &__copyright-url {
    @include font-montserrat;

    padding: 0 1px;
    margin: 0 7px 0 0;
    font-weight: 700;
    font-size: 18px;
    color: #fe985b;
    border-bottom: 2px dotted $color-text;
    transition: $transition-fast;

    &:hover {
      color: $color-accent;
      border-bottom: 2px dotted $color-accent;
    }
  }

  // .section-footer__copyright-list
  &__copyright-list {
    display: flex;
    justify-content: space-between;
  }

  // .section-footer__copyright-list-item
  &__copyright-list-item {
    margin-left: 40px;
    transition: $transition-fast;

    &:hover {
      color: $color-accent;
    }
  }
}

// === / FOOTER ===